environment:
  build_version: 6.3.0
  Version: $(build_version)
  COVERALLS_REPO_TOKEN:
    secure: +OWHMxYHaMp6iRNNLZcMZq423PhYWxMky+B2C0p3U8v7tpdoKRMzWZKJ1LuYO60O
version: $(build_version)-{build}
configuration: Release
assembly_info:
  patch: true
  file: '**\AssemblyInfo.*'
  assembly_version: '$(build_version).0'
  assembly_file_version: '$(build_version).{build}'
  assembly_informational_version: '$(build_version)'
before_build:
 - cmd: nuget restore Grace.sln
build:
  project: Grace.sln
  publish_nuget: true
  publish_nuget_symbols: true
  verbosity: minimal
after_build:
- cmd: msbuild /t:pack src/Grace/Grace.csproj /p:Configuration=Release /p:IncludeSymbols=true /p:PackageOutputPath=..\..\
- cmd: msbuild /t:pack src/Grace.Dynamic/Grace.Dynamic.csproj /p:Configuration=Release /p:IncludeSymbols=true /p:PackageOutputPath=..\..\
test_script:
- cmd: cd tests/Grace.Tests/
- cmd: CodeCoverageAppVeyor.cmd
artifacts:
- path: Grace*.nupkg
  name: Grace
os: Visual Studio 2017
