<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Grace" version="1.0.1-Nightly1009" targetFramework="net45" />
  <package id="Grace.Moq" version="1.0.1-Nightly1009" targetFramework="net45" />
  <package id="Grace.Net" version="1.0.1-Nightly1009" targetFramework="net45" />
  <package id="Grace.NSubstitute" version="1.0.1-Nightly1009" targetFramework="net45" />
  <package id="Moq" version="4.1.1311.0615" targetFramework="net45" />
  <package id="NSubstitute" version="1.6.1.0" targetFramework="net45" />
</packages>