<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="grace" type="Grace.DependencyInjection.Configuration.GraceConfigurationSection, Grace.Net"/>
    <section name="secondGrace" type="Grace.DependencyInjection.Configuration.GraceConfigurationSection, Grace.Net"/>
  </configSections>
  <grace>
    <exports>
      <export type="Grace.UnitTests.Classes.Simple.ConstructorImportService, Grace.UnitTests">
        <as type="Grace.UnitTests.Classes.Simple.IConstructorImportService, Grace.UnitTests"/>
      </export>
    </exports>
    <modules>
      <module type="Grace.UnitTests.Classes.Modules.TestModule, Grace.UnitTests">
        <property name="IntProperty" value="5"/>
      </module>
    </modules>
  </grace>
  <secondGrace>
    <exports>
      <export type="Grace.UnitTests.Classes.Simple.ConstructorImportService, Grace.UnitTests">
        <as type="Grace.UnitTests.Classes.Simple.IConstructorImportService, Grace.UnitTests"/>
      </export>
    </exports>
    <modules>
      <module type="Grace.UnitTests.Classes.Modules.TestModule, Grace.UnitTests">
        <property name="IntProperty" value="5"/>
      </module>
    </modules>
  </secondGrace>
</configuration>