<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="grace" type="Grace.DependencyInjection.Configuration.GraceConfigurationSection, Grace.Net"/>
  </configSections>
  <grace>
    <modules>
      <module type="Grace.UnitTests.Classes.Modules.TestModule, Grace.UnitTests"/>
    </modules>
  </grace>
</configuration>